@import url('normalize.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Color pallete */
:root {
  --color-primary: #178a27;
  --color-secondary: #1686c1;
  --color-accent: #852406;
  --color-body: #333;
  --border-radius: 30px;
}

/* Typography */

html {
  font-size: 62.5%;
}

body {
  /* background-color: gray; */
  color: var(--color-body);
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 2rem;
  color: #666;
}

p {
  margin: 0;
}

/* list */
.list {
  list-style: none;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 600;
}

.list .list__item {
  padding: 0.5rem;
  background-color: bisque;
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 1rem;
}

/* Button */

.btn {
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.5;
  margin: 2rem 0;
  outline: 0;
  padding: 0.5rem 2.5rem;
  text-decoration: none;
  transition: all 0.3s;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--primary:hover {
  background-color: #29ac3b;
}

.btn--secondary {
  background-color: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background-color: #21a3e9;
}

.btn--accent {
  background-color: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background-color: #a72d08;
}

.btn--outline {
  padding: 0.4rem 2.4rem;
  background-color: #fff;
  border: 1px solid #cdcdcd;
}

.btn--outline:hover {
  background-color: #eee;
}

/* img */
.img {
  width: 100%;
}

/* Card */
.card {
  max-width: 350px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
}

.card__body {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
}

.card__body .btn {
  align-self: center;
}

.card__heading {
  margin-top: 0;
}

.card--primary .card__heading {
  color: var(--color-primary);
}
.card--secondary .card__heading {
  color: var(--color-secondary);
}
.card--accent .card__heading {
  color: var(--color-accent);
}

/* Flex */
/* .flex {
  display: flex;
}

.flex__self-center {
  align-self: center;
}

.flex--direction-col {
  flex-direction: column;
} */

/* Grid */
.grid {
  display: grid;
  gap: 2rem;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid--1x3 {
  grid-template-columns: repeat(3, 1fr);
}


/* temp */
/* .box {
  height: 200px;
}

.box1 {
  background-color: var(--color-primary);
}
.box2 {
  background-color: var(--color-secondary);
}
.box3 {
  background-color: var(--color-accent);
} */