<!-- block form -->
<section class="block block-form">
  <div class="form-container">
    <header class="block__header">
      <h2 class="block__heading">Contact Form</h2>
      <p class="form__instruction form-control">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis
        laudantium maiores unde quibusdam sint ea minima iure excepturi non
        quos. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
        quo odio amet fugit doloribus? Ducimus veniam quos deleniti iste natus.
      </p>
    </header>
    <form class="form">
      <div class="grid grid--1x2">
        <div class="grid__group">
          <input class="input form-control" type="text" placeholder="Name" />
          <input class="input form-control" type="email" placeholder="Email" />
          <input class="input form-control" type="text" placeholder="Subject" />
        </div>
        <div class="grid__group">
          <textarea
            class="textarea form-control"
            placeholder="Your message here..."
            rows="8"
            cols=""
          ></textarea>
          <a href="#" class="btn btn--accent">Sublit</a>
        </div>
      </div>
    </form>
  </div>
</section>
