<!-- Block Testimonial -->
<section class="block block-testimonial">
  <div class="container">
    <div class="testimonial__sect testimonial__sect-01">
      <div class="grid">
        <div class="card">
          <img class="img card__img" src="img/4-1.jpg" />
          <div class="card__body">
            <h2 class="card__heading">Heading</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
              consectetur sint dolor beatae incidunt quis, vero nobis magni
              distinctio porro?
            </p>
          </div>
        </div>
        <div class="card">
          <img class="img card__img" src="img/4-2.jpg" />
          <div class="card__body">
            <h2 class="card__heading">Heading</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
              consectetur sint dolor beatae incidunt quis, vero nobis magni
              distinctio porro?
            </p>
          </div>
        </div>
        <div class="card">
          <img class="img card__img" src="img/4-3.jpg" />
          <div class="card__body">
            <h2 class="card__heading">Heading</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
              consectetur sint dolor beatae incidunt quis, vero nobis magni
              distinctio porro?
            </p>
          </div>
        </div>
        <div class="card">
          <img class="img card__img" src="img/4-4.jpg" />
          <div class="card__body">
            <h2 class="card__heading">Heading</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
              consectetur sint dolor beatae incidunt quis, vero nobis magni
              distinctio porro?
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="testimonial__sect testimonial__sect-02">
      <div class="card card--large">
        <img class="img card__img" src="img/4-5.jpg" />
        <div class="card__body">
          <h2 class="card__heading">Heading</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi
            consectetur sint dolor beatae incidunt quis, vero nobis magni
            distinctio porro?Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Natus animi iste sint, similique obcaecati, iure repellat modi
            quam aut numquam quia cum. Pariatur, voluptate beatae quasi
            voluptatem provident asperiores dicta!
          </p>
          <a href="#" class="btn btn--outline">Button Green</a>
        </div>
      </div>
    </div>
  </div>
</section>
