<!-- Block Navigation -->
<section class="block hero-block">
  <div class="nav-container collapsible">
    <div class="collapsible__toggler">
      <span class="collapsible__line"></span
      ><span class="collapsible__line"></span
      ><span class="collapsible__line"></span>
    </div>
    <nav class="nav">
      <ul class="list nav__list collapsible__content">
        <li class="list__item nav__item">
          <a class="link nav__link" href="#">Homepage</a>
        </li>
        <li class="list__item nav__item">
          <a class="link nav__link" href="#">About Us</a>
        </li>
        <li class="list__item nav__item">
          <a class="link nav__link" href="#">Services</a>
        </li>
        <li class="list__item nav__item">
          <a class="link nav__link" href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="block__header hero__header">
    <h1 class="block__heading hero__heading">Conquer</h1>
    <h2 class="hero__tagline">Lorem ipsum dolor sit amet.</h2>
  </div>
</section>
